NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [4]:
 df = pd.read_csv("condition_1_2003-05-07.csv", sep='\t')

In [6]:
df.head()

               \ttimestamp\tdate\tactivity
0    0\t2003-05-07 12:00:00\t2003-05-07\t0
1  1\t2003-05-07 12:01:00\t2003-05-07\t143
2    2\t2003-05-07 12:02:00\t2003-05-07\t0
3   3\t2003-05-07 12:03:00\t2003-05-07\t20
4  4\t2003-05-07 12:04:00\t2003-05-07\t166